
/* css */

h1{
  font-size: 115px;
  padding-top:20%;
  padding-bottom:60px;
}
h2{
  padding-top:60px;
  color:#6A755A;
  text-decoration: underline;
  font-weight:bold;
}
h3{
  padding-bottom:60px;
}

.row {
    position: relative;
}
.bottom-align-text {
  position: relative;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-top:60px;
}
.top-align-text-right {
  position: relative;
  top:0;
  right:0;
}
